$hero-font-color: #fff;

.hero {
  display: flex;
  align-items: center;
  /* Banner designed by fullvector */
  background: url("../assets/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  height: 100vh;
  color: $hero-font-color;
  text-align: center;

  .leading-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 2.5rem;
    padding-top: 3em;
    margin-bottom: 16em;
    padding-left: 2.5em;
    text-align: center;

    @media only screen and (max-width: 992px) {
      font-size: 1.5em;
      margin-bottom: 4em;
    }
  }

  .leading-title {
    display: inline-block;
    line-height: 1.2;
    font-size: 4rem;
    font-weight: 800;

    @media only screen and (max-width: 992px) {
      font-size: 4rem;
    }

    @media only screen and (max-width: 767px) {
      font-size: 4rem;
    }

    @media only screen and (max-height: 768px) {
      font-size: 4rem;
    }
  }

  .leading-paragraph {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

    @media only screen and (max-width: 767px) {
      font-size: 1rem;
      line-height: 1.8;
    }

    @media only screen and (max-height: 768px) {
      font-size: 0.8rem;
    }
  }
}

.vl {
  border-right: 1px solid $accent-color;
  height: 13em;
  position: absolute;
  margin-left: 50%;
  margin-top: -16em;
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.hero-image {
  display: none;
  justify-content: flex-end;
  align-items: center;
  margin: 2em;
  padding: 1em;
  margin-right: -10em;
  margin-bottom: -5em;
  position: relative;

  @media only screen and (max-width: 992px) {
    display: none;
  }
}
